{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Swiftcare</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/logo1.jpg' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{%  static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{%  static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{%  static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{%  static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{%  static 'assets/css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/patients_details.css' %}">

{#     <style>#}
{##}
{##}
{##}
{#        body {#}
{##}
{##}
{#            background-image:  url("{% static 'assets/img/details-bg.jpg' %} " );#}
{#            background-size: cover;#}
{#            background-repeat: no-repeat;#}
{#            background-position: center;#}
{##}
{#            height: 100vh;#}
{#            width: 100%;#}
{#        }#}
{##}
{##}
{#     </style>#}


</head>

<body class="index-page">

  <header id="header" class="header sticky-top">
        <div class="branding d-flex align-items-center">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center me-auto">
           <img src="{% static 'assets/img/logo1.jpg' %}" alt="">
          <h1 class="sitename">Swiftcare</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="{% url 'homepage' %}" class="active">Home<br></a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#doctors">Doctors</a></li>
            <li class="dropdown"><a href="#"><span>Departments</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="#">Cardiology</a></li>
                <li><a href="#">Radiology</a></li>
                <li><a href="#">Neurology</a></li>
                <li><a href="#">Mental Health</a></li>
                <li><a href="#">Oncology</a></li>
                <li><a href="#">Osteology</a></li>



              </ul>
            </li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="cta-btn d-none d-sm-block" href="#appointment">Make an Appointment</a>


      </div>

    </div>

  </header>


  <main class="container">

      <h3>Patient Details</h3> <br>

          <!-- About Section -->

      <div class="container">

        <div class="row gy-4 gx-5">

          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">

              <div class="details col-lg-8">
               <form action="/patient_details/" method="POST"><br><br>
          {% csrf_token %}
          <label  for="">Name</label> <br>
          <input class=" col-md-2 form-control" type="text" placeholder="Enter full name" required name="patient_name"> <br><br>

          <label for="">Date Of Birth</label> <br>
          <input type="date" required name="patient_dob"> <br><br>

          <label for="">Gender</label> <br>
          <select name="patient_gender" >
              <option class=" col-md-2 form-control" value="">Select Gender</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other</option>

          </select> <br> <br>

          <label for="">Blood Group</label><br>
           <select name="patient_bloodGroup" id="Select_gender">
              <option value="">Blood Group</option>
              <option value="A+">A+</option>
              <option value="A-">A-</option>
              <option value="B+">B+</option>
              <option value="B-">B-</option>
              <option value="AB+">AB+</option>
              <option value="AB-">AB-</option>
              <option value="O+">O+</option>
              <option value="O-">O-</option>


          </select> <br> <br>

          <label for="">Disability</label> <br>
          <input class=" col-md-2 form-control" type="text" required name="patient_disability"> <br><br>

          <label for="">Phone Number</label> <br>
          <input class=" col-md-2 form-control" type="number" required name="patient_contact"> <br>

          <button class="btn3" type="submit">Submit</button>
          <button class="btn3" type="reset">Back</button>


      </form>
              </div>  <br><br>


          </div>


          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
       <h4>Welcome to Our Patient Registration Portal</h4>
           <p style="color: black; font-size: large"> Your health is our top priority. At Swiftcare, we are committed to providing exceptional medical care with compassion and professionalism.
               By registering with us, you gain access to a network of experienced doctors, state-of-the-art facilities, and personalized healthcare services tailored to your needs.
               Our hospital ensures a seamless and confidential patient experience, from consultation to treatment. Whether you're booking an appointment, accessing medical records,
               or receiving specialized care, we strive to make your journey toward better health smooth and hassle-free.
               Please fill out the registration form with accurate details to help us serve you better. Your information will be securely stored and used only for medical purposes.
               <b>Welcome to quality healthcare you can trust!</b></p>



        </div>


      </div>

    </div><!-- /About Section -->







{#      <div class="details col-lg-4">#}
{#      <form action="/patient_details/" method="POST"><br><br>#}
{#          {% csrf_token %}#}
{#          <label  for="">Name</label> <br>#}
{#          <input class=" col-md-2 form-control" type="text" placeholder="Enter full name" required name="patient_name"> <br><br>#}
{##}
{#          <label for="">Date Of Birth</label> <br>#}
{#          <input type="date" required name="patient_dob"> <br><br>#}
{##}
{#          <label for="">Gender</label> <br>#}
{#          <select name="patient_gender" >#}
{#              <option class=" col-md-2 form-control" value="">Select Gender</option>#}
{#              <option value="M">Male</option>#}
{#              <option value="F">Female</option>#}
{#              <option value="O">Other</option>#}
{#              #}
{#          </select> <br> <br>#}
{##}
{#          <label for="">Blood Group</label><br>#}
{#           <select name="patient_bloodGroup" id="Select gender">#}
{#              <option value="">Blood Group</option>#}
{#              <option value="A+">A+</option>#}
{#              <option value="A-">A-</option>#}
{#              <option value="B+">B+</option>#}
{#              <option value="B-">B-</option>#}
{#              <option value="AB+">AB+</option>#}
{#              <option value="AB-">AB-</option>#}
{#              <option value="O+">O+</option>#}
{#              <option value="O-">O-</option>#}
{##}
{##}
{#          </select> <br> <br>#}
{##}
{#          <label for="">Disability</label> <br>#}
{#          <input class=" col-md-2 form-control" type="text" required name="patient_disability"> <br><br>#}
{##}
{#          <label for="">Phone Number</label> <br>#}
{#          <input class=" col-md-2 form-control" type="number" required name="patient_contact"> <br><br>#}
{##}
{##}
{#          <button class="btn3" type="submit">Submit</button>#}
{#          <button class="btn3" type="reset">Back</button>#}
{##}
{##}
{##}
{#      </form>#}
{##}
{##}
{#</div>#}
{#      <br><br>#}

  </main>
  <footer id="footer" class="footer light-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">Swiftcare</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Tom Mboya Street</p>
            <p>Nairobi, 00100</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+254 712345678</span></p>
            <p><strong>Email:</strong> <span>info@swiftcare.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Cardiology</a></li>
            <li><a href="#">Radiology</a></li>
            <li><a href="#">Neurology</a></li>
            <li><a href="#">Mental Health</a></li>
            <li><a href="#">Oncology</a></li>
            <li><a href="#">Osteology</a></li>

          </ul>
        </div>



      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Swiftcare</strong> <span>All Rights Reserved</span></p>
      <div class="credits">

        Designed by <a href="https://stemiotsoftwares.onrender.com/">Stemiot Softwares</a>
      </div>
    </div>

  </footer>




  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{%  static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%  static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{%  static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{%  static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>