{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Swiftcare</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/logo1.jpg' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{%  static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{%  static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{%  static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{%  static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{%  static 'assets/css/main.css' %}" rel="stylesheet">


</head>

<body class="index-page">

  <header id="header" class="header sticky-top">
        <div class="branding d-flex align-items-center">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center me-auto">
           <img src="{% static 'assets/img/logo1.jpg' %}" alt="">
          <h1 class="sitename">Swiftcare</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="{% url 'homepage' %}" class="active">Home<br></a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#doctors">Doctors</a></li>
            <li class="dropdown"><a href="#"><span>Departments</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="#">Cardiology</a></li>
                <li><a href="#">Radiology</a></li>
                <li><a href="#">Neurology</a></li>
                <li><a href="#">Mental Health</a></li>
                <li><a href="#">Oncology</a></li>
                <li><a href="#">Osteology</a></li>



              </ul>
            </li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="cta-btn d-none d-sm-block" href="#appointment">Make an Appointment</a>


      </div>

    </div>

  </header>


  <main class="container">

      <h3>Patient Details</h3> <br><br>


      <div class="col-lg-5">
      <form action="">
          <label  for="">Name</label> <br>
          <input class=" col-md-2 form-control" type="text" placeholder="Enter full name" required name="patient_name"> <br><br>

          <label for="">Date Of Birth</label> <br>
          <input type="date" required name="patient_dob"> <br><br>

          <label for="">Gender</label> <br>
          <select name="patient_gender" >
              <option class=" col-md-2 form-control" value="">Select Gender</option>
              <option value="">Male</option>
              <option value="">Female</option>
              <option value="">Other</option>
              
          </select> <br> <br>

          <label for="">Blood Group</label><br>
           <select name="patient_bloodGroup" id="Select gender">
              <option value="">Blood Group</option>
              <option value="">A+</option>
              <option value="">A-</option>
              <option value="">B+</option>
              <option value="">B-</option>
              <option value="">AB+</option>
              <option value="">AB-</option>
              <option value="">O+</option>
              <option value="">O-</option>


          </select> <br> <br>

          <label for="">Disability</label> <br>
          <input class=" col-md-2 form-control" type="text" required name="patient_disability"> <br><br>

          <label for="">Phone Number</label> <br>
          <input class=" col-md-2 form-control" type="number" required name="patient_contact"> <br><br>


          <button type="submit">Submit</button>
          <button type="reset">Back</button>



      </form>


</div>

  </main>




  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{%  static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%  static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{%  static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{%  static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>